{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static '/css/bootstrap/bootstrap.min.css' %}"
    />
     <link
      rel="stylesheet"
      href="{% static '/css/bootstrap/bootstrap-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <title>UDOM Course finder {% block title%}{% endblock%}</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top "
      aria-label="Third navbar example"
    >
      <div class="container-fluid ">
        <a class="navbar-brand" href="#">UDOM Course finder</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
          </ul>
          <form role="search">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </nav>
    <main class="container my-5">{% block content %} {% endblock %}</main>
    <script src="{% static '/css/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
